<template name="home">
	<div class="grain-overlay"></div>
	<div class="seconds">{{seconds}} : {{milliseconds}}</div>
	<section class="counter">
		<h1><span class="number">{{days}}</span> days. <span class="number">{{hours}}</span> hours. <span class="number">{{minutes}}</span> minutes.</h1>
	</section>
	<div class="mask">
		<section class="counter dark">
			<h1><span class="number days">{{days}}</span> days. <span class="number hours">{{hours}}</span> hours. <span class="number minutes">{{minutes}}</span> minutes.</h1>
		</section>
	</div>
	{{> footer}}
</template>